/* Import Fonts */

@import "./fonts/font-dancing",
"./fonts/font-permanent",
"./fonts/font-roboto";

/* Colors */

$black: #000000;
$dark-gray: #333333;
$gray: #666666;
$light-gray: #eaeaea;
$white: #ffffff;
$blue: #2690d4;