/*
 * Practice : Display
 * Version: 1
 * By: David Benitez
 */

html,
body {
    height: 100%;
    margin: 0;
    background-color: #e8e8e8;
}

.dpl-hdr {
    width: 100%;
    margin: auto;
    display: flex;
}

.dpl-hdr h1 {
    font-size: 2.9em;
}

.dpl-nav {
    background-color: #b3b3b3;
}

.dpl-nav ul {
    list-style: none;
    padding: 0;
    margin: 5px 0px;
    display: flex;
    align-items: center;
}

.dpl-nav li {
    padding: 8px;
    margin: 4px;
}

.dpl-nav li a {
    text-decoration: none;
}

.dpl-cols {
    display: inline;
}

.dpl-cols div {
    display: inline-block;
    margin: 9px;
    width: 340px;
    height: 100%;
}

.dpl-tbl {
    display: table;
    border-spacing: 3px;
    width: 100%;
}

.tbl-hdr {
    background-color: #b3b3b3;
    display: table-header-group;
}

.tbl-cll {
    background-color: #b3b3b3;
    display: table-row;
}

.tbl-hdr div,
.tbl-cll div {
    display: table-cell;
    padding: 15px;
    text-align: center;
}

.dpl-gal {
    display: inline;
}

.dpl-gal div {
    display: inline-block;
    border: 1px solid red;
    width: 340px;
    height: 100%;
    margin: 9px;
}