/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
html {
    font-family: 'Helvetica Light', sans-serif;
}

body {
    background-color: #fff;
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
.cool-fan-system {
    position: relative;
}

.switch {
    height: 57px;
    margin: 23px auto;
    position: relative;
    width: 127px;
    z-index: 2;
    label {
        background: #e9513a;
        color: #c72f18;
        border-radius: 2px;
        display: block;
        height: 100%;
        position: relative;
        transition: all .15s ease;
        width: 100%;
        div {
            background: #fff;
            border-radius: 2px;
            display: block;
            height: 45px;
            left: 6px;
            position: absolute;
            top: 6px;
            transition: all .15s ease;
            width: 53px;
            z-index: 3;
            &:before {
                background: #d3d3d3;
                bottom: 0;
                box-shadow: -6px 0 0 0 #d3d3d3, 6px 0 0 0 #d3d3d3;
                content: '';
                display: block;
                height: 15px;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
                transition: all .15s ease;
                width: 3px;
            }
        }
    }
}

.switch .switch-on {
    left: 20px;
}

.switch .switch-off {
    left: 51px;
}


/* Checked States */

.switch:hover {
    label {
        background: #2fca6c;
        color: #13ad4f;
    }
    div {
        left: 67px;
    }
}

.left-fan {
    top: -320px;
    animation: wind-left 0.6s linear infinite;
}

.below-fan {
    left: 520px;
    transform: skewX(-70deg) scale(0.3);
    animation: wind-down 0.6s linear infinite;
}

.right-fan {
    top: -110px;
    animation: wind-right 0.6s linear infinite;
}

.fan {
    display: inline-block;
    width: 30%;
    height: 300px;
    position: relative;
    transform: scale(0.7, 0.9);
    z-index: -1;
    animation-play-state: paused;
}

.moving-space {
    display: inline-block;
    position: relative;
    width: 69%;
    padding-top: 300px;
    left: 30%;
    .moving-guy {
        width: 300px;
        animation-name: freshed;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-play-state: paused;
    }
    .moving-line {
        border-bottom: 2px solid black;
    }
}

.switch:hover+.moving-space>.moving-guy,
.switch:hover~img[class*="fan"] {
    animation-play-state: running;
}

@keyframes wind-left {
    0% {
        transform: rotateZ(0deg) scale(0.4, -0.4) skewY(-30deg);
    }
    100% {
        transform: rotateZ(360deg) scale(0.4, -0.4) skewY(-30deg);
    }
}

@keyframes wind-right {
    0% {
        transform: rotateZ(0deg) scale(0.4, -0.4) skewY(30deg);
    }
    100% {
        transform: rotateZ(-360deg) scale(0.4, -0.4) skewY(30deg)
    }
}

@keyframes wind-down {
    0% {
        transform: rotateY(0deg) scale(0.2, 0.3) skewX(73deg);
    }
    100% {
        transform: rotateY(360deg) scale(0.3, 0.2) skewX(73deg);
    }
}

@keyframes freshed {
    55% {
        transform: translateX(499px);
    }
    70% {
        transform: translate(500px, -200px) rotate(120deg);
    }
    85% {
        transform: translate(185px, -400px) rotate(250deg);
    }
    100% {
        transform: rotate(360deg);
    }
}