/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
html,
body {
    margin: 0;
    height: 100%;
}

html {
    font-family: 'Helvetica Light', sans-serif;
}

body {
    background-image: url(../assets/img/table-bg.jpg);
    // background-attachment: fixed;
    font-size: 16px;
}

.card-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.static-card {
    position: fixed;
    // margin: 0 2rem;
    padding: 2rem;
    width: 10%;
    height: 500px;
    top: 30%;
}

.handed-card {
    position: absolute;
    padding: 2rem;
    width: 10%;
    height: 500px;
    top: 70%;
}

.club-10,
.diamond-2,
.diamond-A,
.heart-9,
.spade-4,
.spade-9,
.spade-A {
    background-repeat: no-repeat;
    background-size: contain;
}

.club-10 {
    // top: 50%;
    left: 10%;
    background-image: url(../assets/img/club_10.svg);
}

.spade-A {
    // top: 50%;
    left: 26%;
    background-image: url(../assets/img/spade_A.svg);
}

.heart-9 {
    // top: 50%;
    left: 42%;
    background-image: url(../assets/img/heart_9.svg);
}

.spade-4 {
    // top: 50%;
    left: 58%;
    background-image: url(../assets/img/spade_4.svg);
}

.diamond-2 {
    left: 74%;
    background-image: url(../assets/img/diamond_2.svg);
}

.diamond-A {
    left: 30%;
    background-image: url(../assets/img/diamond_A.svg);
    z-index: 2;
}

.card-handler .heart-9 {
    left: 40%;
    z-index: 1;
}

.card-handler .club-10 {
    left: 50%;
}

.card-handler .handed-card:hover {
    top: 60.5%;
    z-index: 4;
}


/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjecto