    /**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
    
    // bower:scss
    // endbower
    html {
        font-family: 'Helvetica Light', sans-serif;
    }
    
    body {
        font-size: 14px;
        background-color: #cccccc;
    }
    
    .card-container::before {
        content: '';
        position: absolute;
        z-index: 1;
        box-shadow: 0 -10px 7px rgba(0, 0, 0, 0.8);
        width: 30%;
        left: 35%;
        /* margin: auto; */
        height: 1px;
        bottom: 34.5%;
    }
    
    .card-container {
        margin: 350px auto;
        width: 450px;
        height: 165px;
        padding: 50px 30px;
        border-radius: 130px 0px;
        background-color: #aaaaaa;
        box-shadow: inset 0px -6px 10px rgba(0, 0, 0, 0.2);
        color: white;
    }
    
    .card-inner-container {
        margin-top: -15px;
        display: flex;
        padding: 8px;
        border-radius: 200px;
        background-color: #A9544E;
    }
    
    .figure {
        width: 100%;
        background-color: #C66F66;
        text-align: right;
        margin: 5px;
        padding: 38px;
    }
    
    .figure-right {
        border-radius: 200px 200px 200px 0px;
    }
    
    .figure-right .name {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: -8px;
    }
    
    .position {
        font-size: 10px;
    }
    
    .phone,
    .email {
        font-size: 8px;
    }
    
    .phone {
        margin-bottom: -6px;
    }
    
    .figure-left {
        border-radius: 200px 200px 0px 200px;
    }
    
    .figure-left .name {
        white-space: nowrap;
        font-size: 17px;
        // padding: 5px;
        margin-bottom: -3px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .name+address {
        text-align: center;
    }
    /**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
    
    // injector
    // endinjector