/*
 * Practice : Z-index, !important and Inheritance
 * Version: 1
 * By: David Benitez
 */

html,
body {
    height: 100%;
    margin: 0px;
}

body {
    background: #DAEAE1;
}

.transparent-color {
    display: flex;
    background: rgba(65, 143, 164, 0.6);
    width: 78%;
    height: 100%;
    margin: 3vw 0vw 0vw 7vw;
    padding: 3vw 0vw 3vw 3vw;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.transparent-color p {
    padding: 20px;
    width: 100%;
}

.header {
    text-transform: lowercase;
    width: 100%;
}

.header::first-letter {
    text-transform: uppercase;
}

.transparent-color p::first-letter {
    text-transform: uppercase;
}

.transparent-color hr {
    background: #C35839;
    z-index: 2;
}

.container-color {
    flex-grow: 2;
    background: #E7F3F7;
    padding: 20px;
    text-transform: lowercase;
    color: black;
    z-index: 2;
}

.container-color p {
    padding-left: 0px;
}

.title::first-letter {
    text-transform: uppercase;
}

.list-color {
    order: 2;
    margin: 30px 0px 30px 50px;
    padding: 35px;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    text-transform: lowercase;
    color: black;
    background: #E1E28F;
    z-index: 2;
}

.list-color ul {
    list-style: none;
    height: 100%;
}

.list-color ul li {
    padding: 2px
}

.title-list::first-letter {
    text-transform: uppercase;
}

.list-color ul li::first-letter {
    text-transform: uppercase;
}

@media only screen and (max-width: 425px) {
    .transparent-color {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background: rgba(65, 143, 164, 0.6);
        width: 78%;
        height: 100%;
        margin: 3vw 0vw 0vw 7vw;
        padding: 3vw 0px 3vw 0vw;
        z-index: 1;
        color: white;
        text-transform: uppercase;
    }
    .list-color {
        margin: 30px 0px 30px 0px;
        padding: 35px;
        width: 100%;
        height: 30%;
        box-sizing: border-box;
        text-transform: lowercase;
        color: black;
        background: #E1E28F;
        z-index: 2;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background: linear-gradient(to right, #DAEAE1 70%, #595E5B 30%);
    }
}