%general-header {
    @include animation(fade 15s ease infinite);
    width: $Full-Width;
    height: $Full-Height;
    position: fixed;
    z-index: -1;
}

%general-gradient {
    background-image: linear-gradient(to right, $Dark-Color, transparent);
}

html {
    font-family: $Font;
    font-size: $Base-font-size;
    height: $Full-Height;
}

body {
    @include font-size(1.6);
    background-color: $Light-Color;
    color: $Light-Color;
    font-weight: 100;
    height: $Full-Height;
    line-height: 1.5;
}

main {
    display: flex;
    flex-direction: column;
    height: $Full-Height;
}

a {
    color: $Light-Color;
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}