$Font: Helvetica,
sans-serif;
$Base-font-size: 10px / 16px * 100%;
$Full-Height: 100%;
$Full-Width: 100%;
$Footer-Height:50px;
$Light-Color: #fff;
$Dark-Color: #000;
$First-Background: "../assets/background1.png";
$Second-Background: "../assets/background2.png";
$Third-Background: "../assets/background3.png"