/* navbar */

.navbar {
    background: $dark-gray;
    display: block;
    margin-top: 0;
    text-align: right;
    li {
        display: inline-block;
    }
    a {
        color: $white;
        cursor: pointer;
        display: block;
        font-size: 1.5em;
        line-height: 20px;
        padding: 15px 10px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .07s linear;
        &:hover .box,
        &:focus .box {
            transform: translateZ(-20px) rotateX(90deg);
            /* Add the rotation*/
        }
    }
    .box,
    .front,
    .back {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .box {
        /* Add transform style */
        transform-style: preserve-3d;
        transition: all .3s ease-out;
    }
    .front,
    .back {
        background: $dark-gray;
        color: $white;
        padding: 15px 10px;
    }
    /* Add rotation and transformation logic for each size */
    .front {
        transform: rotateY(0deg) translateZ(20px);
    }
    .back {
        transform: rotateX(-90deg) translateZ(20px);
    }
}


/* Header */

.header {
    height: 200px;
    text-align: center;
    width: 100%;
    h1 {
        font-size: 4em;
        text-shadow: 6px 4px 2px $light-gray;
        /* Add the rotate logic to the title */
        transform: rotateY(-32deg) rotateX(-32deg);
    }
}


/* Cube */

.cube-section {
    cursor: pointer;
    height: 300px;
    perspective: 1000px;
    position: relative;
    width: 100%;
    .cube {
        animation: spinCube 10s infinite ease-in-out;
        height: 60px;
        left: 50%;
        position: absolute;
        top: 30%;
        /* Add transform style */
        transform-style: preserve-3d;
        transform-origin: 60px 60px 0;
        width: 60px;
        img {
            height: 120px;
            position: absolute;
            width: 120px;
        }
    }
    .face1,
    .face2,
    .face3,
    .face4,
    .face5,
    .face6 {
        transition: transform 3s;
    }
    /* Add rotation and transform logic for each face */
    .face1 {
        transform: rotateX(-90deg) translateZ(60px);
    }
    .face2 {
        transform: rotateX(90deg) translateZ(60px);
    }
    .face3 {
        transform: rotateY(-90deg) translateZ(60px);
    }
    .face4 {
        transform: rotateY(180deg) translateZ(60px);
    }
    .face5 {
        transform: rotateY(90deg) translateZ(60px);
    }
    .face6 {
        transform: rotateY(0deg) translateZ(60px);
    }
    &:hover {
        /* Add rotation and transform logic for each face when hover */
        .face1 {
            transform: rotateX(90deg) translateZ(100px);
        }
        .face2 {
            transform: rotateX(-90deg) translateZ(100px);
        }
        .face3 {
            transform: rotateY(90deg) translateZ(100px)
        }
        .face4 {
            transform: rotateY(-180deg) translateZ(100px)
        }
        .face5 {
            transform: rotateY(-90deg) translateZ(100px)
        }
        .face6 {
            transform: rotateY(360deg) translateZ(100px)
        }
    }
}