/* Colors */

$black: #000000;
$black-op4: rgba(0, 0, 0, 0.4);
$black-op1: rgba(0, 0, 0, 0.1);
$dark-gray: #333333;
$light-gray: #AAAAAA;
$light-white: #fafafa;
$white: #FFFFFF;
$transparent: rgba(255, 255, 255, 0);

/* Create the rotation logic */

@keyframes spinCube {
    0% {
        transform: translateZ(-60px) rotateY(0deg);
    }
    16.67% {
        transform: translateZ(-60px) rotateY(-90deg);
    }
    33.34% {
        transform: translateZ(-60px) rotateY(-180deg);
    }
    50% {
        transform: translateZ(-60px) rotateY(90deg);
    }
    66.68% {
        transform: translateZ(-60px) rotateX(-90deg);
    }
    83.35% {
        transform: translateZ(-60px) rotateX(90deg);
    }
    100% {
        transform: translateZ(-60px) rotateY(0deg);
    }
}