/* Colors */
$black: #000000;
$black-op4: rgba(0, 0, 0, 0.4);
$black-op1: rgba(0, 0, 0, 0.1);
$dark-gray: #333333;
$light-gray: #AAAAAA;
$light-white: #fafafa;
$white: #FFFFFF;
$transparent: rgba(255, 255, 255, 0);

/* Create the rotation logic */

@keyframes spinCube {
 
}

