/*
 * Practice : Box Sizing
 * Version: 1
 * By: David Benitez
 */

html,
body {
    height: 100%;
    margin: 0;
}

.bs-example {
    background-color: #E8E8E8;
    clear: both;
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}

.bs-color {
    background-color: #E8E8E8;
}

.bs-cb {
    clear: both;
    width: 960px;
    /* total width: 1000px */
    /* total height: 80px */
    padding: 15px;
    margin: 15px;
    border: 5px solid #D24F2E;
    box-sizing: content-box;
}


/*
.bs-cb p {
    height: 10px;
}
*/

.bs-bb {
    clear: both;
    width: 970px;
    margin: 15px;
    padding: 15px;
    border: 5px solid #D24F2E;
    box-sizing: border-box;
}

.bs-content {
    border: 5px solid #D24F2E;
}