/*
* Practice : Float Property
* Version: 1
* By: David Benitez
*/

* {
    box-sizing: border-box;
}

.borders {
    margin-left: 160px;
    margin-right: 160px;
}

h1,
h2 {
    margin: 0px;
    padding: 5px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nav-bar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: center;
}

nav {
    background-color: #e6e6e6;
}

.nav-bar li a {
    display: block;
    text-decoration: none;
    color: purple;
    padding: 8px;
    float: left;
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

aside {
    width: 30%;
    height: 600px;
    background-color: #f2f2f2;
    margin: 0px;
    padding: 10px;
}

aside label,
p {
    margin: 0px 10px;
}

.smt-bar {
    width: 90%;
    margin: 0px 10px 8px;
    border-radius: 0px;
}

.smt {
    list-style-type: none;
    margin: 0px 10px;
    padding: 0px;
    overflow: hidden;
}

.smt li a {
    display: list-item;
    text-decoration: underline;
    color: purple;
    padding: 0px;
}

span {
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 10px;
    padding: 0px;
    margin: 10px;
}

.art {
    width: 70%;
    height: 600px;
    background-color: #d9d9d9;
    margin: 0%;
    padding: 5px;
    overflow: hidden;
}

.art p {
    padding: 0px 0px;
    margin: 0px 9px;
    width: auto;
    height: auto;
    text-align: left;
}

.art img {
    margin: 3px 10px 5px 0px;
}

.gall {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 910px;
    background-color: #e6e6e6;
}

.gall ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.gall li img {
    display: block;
    width: 20%;
    margin: 6px;
    padding: 6px;
    height: auto;
    float: left;
}

.footer {
    background-color: #f2f2f2;
    width: 100%;
    padding: 20px 0px;
}

.footer img {
    margin: 5px 0px;
}

.footer p {
    margin: 5px;
}

.min-footer {
    height: 176px;
    background-color: #f2f2f2;
    width: 100%;
    margin: 0px;
    padding: 15px;
    border: solid 2px green;
}

.min-footer img {
    padding: 7px;
}