/* Bold */

@font-face {
    font-family: 'font-dancing-bold';
    src: url(../../fonts/Dancing_Script/DancingScript-Bold.ttf);
}


/* Regular */

@font-face {
    font-family: 'font-dancing';
    src: url(../../fonts/Dancing_Script/DancingScript-Regular.ttf);
}