/* Black */

@font-face {
    font-family: 'roboto-black';
    src: url(../../fonts/Roboto/Roboto-Black.ttf);
}


/* Black Italic */

@font-face {
    font-family: 'roboto-black-italic';
    src: url(../../fonts/Roboto/Roboto-BlackItalic.ttf);
}


/* Bold */

@font-face {
    font-family: 'roboto-bold';
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}


/* Bold Italic */

@font-face {
    font-family: 'roboto-bold-italic';
    src: url(../../fonts/Roboto/Roboto-BoldItalic.ttf);
}


/* Italic */

@font-face {
    font-family: 'roboto-italic';
    src: url(../../fonts/Roboto/Roboto-Italic.ttf);
}


/* Light */

@font-face {
    font-family: 'roboto-light';
    src: url(../../fonts/Roboto/Roboto-Light.ttf);
}


/* Light Italic*/

@font-face {
    font-family: 'roboto-light-italic';
    src: url(../../fonts/Roboto/Roboto-LightItalic.ttf);
}


/* Medium */

@font-face {
    font-family: 'roboto-medium';
    src: url(../../fonts/Roboto/Roboto-Medium.ttf);
}


/* Medium Italic */

@font-face {
    font-family: 'roboto-medium-italic';
    src: url(../../fonts/Roboto/Roboto-MediumItalic.ttf);
}


/* Regular */

@font-face {
    font-family: 'roboto';
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}


/* Thin */

@font-face {
    font-family: 'roboto-thin';
    src: url(../../fonts/Roboto/Roboto-Thin.ttf);
}


/* Thin Italic */

@font-face {
    font-family: 'roboto-thin-italic';
    src: url(../../fonts/Roboto/Roboto-ThinItalic.ttf);
}